{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}
{% set context = data.piece or data.page %}

{% block startHead %} {% if data.global.defaultColor %}
<style>
  .themeColor {color: {{data.global.defaultColor}}}
  .themeBgColor {background-color: {{data.global.defaultColor}}}
  .bgColorBlock::before {background-color: {{data.global.defaultColor}}}
</style>
{% endif %} {% endblock %}

{% if context %}
  {% set ogImageDefault = apos.images.first(data.global.ogImage, 'ogImage') or apos.images.first(context.body, 'body') %}
  {% set ogImage = apos.images.first(context.ogImage, 'ogImage') %}
  {% set ogSiteName = data.global.projectTitle or data.global.siteTitle %}
  {% set ogDescription = context.seoDescription or apos.areas.plaintext(context.pageIntroContent) or data.global.ogDescription %}
  {% set ogType = 'article' %}
  {% set seoTitle = context.title + ' - ' + data.global.siteTitle + ' | ' + data.global.projectTitle %}

  {% if (context.type == 'home') %}
    {% set ogType = 'website' %}
    {% set seoTitle = data.global.siteTitle + ' | ' + data.global.projectTitle %}
  {% endif %}

  {% block title %}{{ seoTitle }}{% endblock %}

  {% block extraHead %}
    <meta charset="utf-8">
    {# Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#38acc6">
    <meta name="msapplication-TileColor" content="#38acc6">
    <meta name="theme-color" content="#38acc6">
    {# Open Graph #}
    <meta property="og:site_name" content="{{ ogSiteName }}">
    <meta property="og:url"       content="{{ context._url }}">
    <meta property="og:title"     content="{{ context.title }}">
    <meta property="og:locale"    content="es_LA">
    <meta property="og:type"      content="{{ ogType }}" />
    {% if ogImage %}
      <meta property="og:image" content="{{ apos.attachments.url(ogImage, { size: 'full' }) }}" />
    {% elif ogImageDefault %}
      <meta property="og:image" content="{{ apos.attachments.url(ogImageDefault, { size: 'full' }) }}" />
    {% endif %}
    <meta property="og:description" name="description" content="{{ ogDescription | truncate(320) | e }}" />
    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image" />
    {% if data.global.twitterSite %}
      <meta name="twitter:site" content="{{ data.global.twitterSite }}" />
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200i,300,500,900|Playfair+Display:400,400i,700,700i|EB+Garamond:400,400i,700|Abril+Fatface|Pacifico" rel="stylesheet">
  {% endblock %}

  {% set currentMpHome = '' %}
  {% if (data.page.type == 'home') %}{% set currentMpHome = ' current' %}{% endif %}

  {% block beforeMain %}
    {% include "preloader.html" %}
    <div id="blackout" class="hidden"></div>
    <nav id="siteMenu" class="m-100 t-80 d-70 ld-50">
      <div id="siteMenuLinks">
        <div id="primaryNav">
          <a class="mpMenuWrapper pageLink{{currentMpHome}}" href="/mujeres-de-prensa">
            <span class="mpMenuIcon deco"></span>
          </a>
          <div class="navTop">{{ apos.area(data.global, 'navigationTop', {
              widgets: {
                'page-link': {
                  controls: {
                    position: 'bottom-right'
                  }
                }
              }
            })
          }}</div>

          <div class="navWrapper navContext">
            <span class="desc m-hide t-20 d-20 ld-20">Contexto</span>
            <span class="corchetes m-hide">{</span>
            <div class="nav m-90 t-70 d-70 ld-70">{{ apos.area(data.global, 'navigationContext', {
                widgets: {
                  'page-link': {
                    controls: {
                      position: 'bottom-right'
                    }
                  }
                }
              })
            }}</div>
          </div>

          <div class="navWrapper navInterp">
            <span class="desc m-hide t-20 d-20 ld-20">Interpretaciones</span>
            <span class="corchetes m-hide">{</span>
            <div class="nav m-90 t-70 d-70 ld-70">{{ apos.area(data.global, 'navigationInterp', {
                widgets: {
                  'page-link': {
                    controls: {
                      position: 'bottom-right'
                    }
                  }
                }
              })
            }}</div>
          </div>

          <div class="navWrapper navVis">
            <span class="desc m-hide t-20 d-20 ld-20">Visiones</span>
            <span class="corchetes m-hide">{</span>
            <div class="nav m-90 t-70 d-70 ld-70">{{ apos.area(data.global, 'navigation2', {
                widgets: {
                  'page-link': {
                    grid: 'm-90 t-70 d-60 ld-50',
                    controls: {
                      position: 'bottom-left'
                    }
                  }
                }
              })
            }}</div>
          </div>

          <div class="navBottom">{{ apos.area(data.global, 'navigationBottom', {
              widgets: {
                'page-link': {
                  controls: {
                    position: 'bottom-right'
                  }
                }
              }
            })
          }}</div>

          <a class="piMenuWrapper pageLink" href="/">
            <span class="piMenuIcon deco"></span>
          </a>
        </div>
      </div>
    </nav>
    <span id="siteMenuIcon" class="themeBgColor"></span>
  {% endblock %}

  {% block mainAnchor %}{% endblock %}
  
  {% block main %}
    {#
      Usually, your page templates in the apostrophe-pages module will override
      this block. It is safe to assume this is where your page-specific content
      should go.
    #}
  {% endblock %}

  {% block afterMain %}
    {% if data.global.analytics %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', {{ data.global.analytics | json }} ]);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  {% endblock %}
{% else %}

{% endif %}