{% macro getMinimalTextBlock(context, name, addLabel) %}
  {{ apos.singleton(context, name, 'apostrophe-rich-text', {
    addLabel: addLabel,
    controls: {
      movable: false
    }
  }) }}
{% endmacro %}

{% macro getTextBlock(context, name, addLabel, editLabel) %}
  {{ apos.singleton(context, name, 'apostrophe-rich-text', {
    addLabel: addLabel,
    editLabel: editLabel,
    toolbar: [ 'Font', '/',
              'Styles', 'Bold', 'Italic', 'Blockquote', '-', 
              'Link', 'Unlink', 'Anchor', '-',
              'BulletedList', 'NumberedList',  '-',
              'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock',  '-',
              'Undo', 'Redo', '-',
              'Sourcedialog'
              ],
    styles: [
      { name: 'Title', element: 'h1', attributes: {class: 'styleTitle'} },
      { name: 'Subtitle', element: 'h2', attributes: {class: 'styleSubtitle'} }
    ],
    controls: {
      movable: false
    }
  }) }}
{% endmacro %}

{% macro getImageSection(context, name, limit, addLabel, editLabel) %}
  {{ apos.singleton(context, name, 'apostrophe-images', {
      addLabel: addLabel,
      editLabel: editLabel,
      size: 'full',
      noHeight: true,
      focalPoint: true,
      limit: limit,
      controls: {
        movable: false
      }
  }) }}
{% endmacro %}
